<!DOCTYPE html>
{% load static %}
<html>
    <title>Blogs</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href=" {% static 'blog/css/index.css' %} " />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <style>
        a {
            text-decoration: none;
        }
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif;
        }

        .w3-row .create {
            margin: auto;
            padding: 5px;
            max-width: 90vw;
            font-size: 1.2vw;
            border-radius: 10px;
            color: white;
            text-align: center;
            background-color: blue;
        }

        .create:hover {
            cursor: pointer;
        }


    </style>
    <body class="w3-light-grey">
        <div class="w3-content" style="max-width: 1400px">
            <header class="w3-container w3-center w3-padding-32">
                <h1><b>BLOG CENTRE</b></h1>
                <p>Knowledge equals power</p>
            </header>

            <div class="w3-row">
                <div class="create">
                    <p><a href="{% url 'create-blog' %}">create blog</a></p>
                </div>
                <br>
                <div class="w3-col l8 s12">
                    {% for blog in blogs %}
                    <div class="w3-card-4 w3-margin w3-white">
                        <img
                            src="{{blog.image.url}}"
                            alt="Nature"
                            style="width: 100%"
                        />
                        <div class="w3-container">
                            <h3><b>{{blog.title}}</b></h3>
                            <h5>
                                {{blog.title}}
                                <span class="w3-opacity"
                                    >{{blog.update_date.date}}</span
                                >
                            </h5>
                        </div>

                        <div class="w3-container">
                            <p>{{blog.description}}</p>
                            <div class="w3-row">
                                <div class="w3-col m8 s12">
                                    <p>
                                        <button
                                            class="w3-button w3-padding-large w3-white w3-border"
                                        >
                                            <b>
                                                <a
                                                    href="{% url 'blog-detail' blog.id %}"
                                                    >READ MORE »</a
                                                ></b
                                            >
                                        </button>
                                    </p>
                                </div>
                                <div class="w3-col m4 w3-hide-small">
                                    <p>
                                        <span class="w3-padding-large w3-right"
                                            ><b>Comments  </b>
                                            <span class="w3-tag"
                                                >{{blog.message_set.all|length}}</span
                                            ></span
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr />
                </div>

                <div class="w3-col l4">
                    <hr />
                    <!-- Posts -->
                    <div class="w3-card w3-margin">
                        <div class="w3-container w3-padding">
                            <h4>Popular Posts</h4>
                        </div>
                        <ul class="w3-ul w3-hoverable w3-white">
                            {% for blog in popular_blogs %}
                            <li class="w3-padding-16">
                                <img
                                    src="{{blog.image.url}}"
                                    alt="Image"
                                    class="w3-left w3-margin-right"
                                    style="width: 50px"
                                />
                                <span class="w3-large">{{blog.title}}</span
                                ><br />
                                <span>Sed mattis nunc</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr />

                    <div class="w3-card w3-margin">
                        <div class="w3-container w3-padding">
                            <h4>Tags</h4>
                        </div>
                        <div class="w3-container w3-white">
                            <p>
                                <span class="w3-tag w3-black w3-margin-bottom"
                                    >Travel</span
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
            <button
                class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom"
            >
                Previous
            </button>
            <button
                class="w3-button w3-black w3-padding-large w3-margin-bottom"
            >
                Next »
            </button>
        </footer>
    </body>
</html>
