<!-- blog_post.html -->

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{blog.title}}</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'blog/css/style.css' %}"
        />
    </head>
    <body>
        <div class="container">
            <img src="{{ blog.image }}" alt="Blog Image" class="blog-image" />
            <h1>{{ blog.title }}</h1>
            <p class="metadata">
                By {{ blog.author }} | Published on {{ blog.published_date }}
            </p>
            <div class="content">{{ blog.content|safe }}</div>
            <a href="{{ request.META.HTTP_REFERER }}">Back to Blog List</a>
        </div>
    </body>
</html>
