<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Events {% endblock title %}</title>
    </head>
    <body>
        {% block content %} {% for event in events %}
        <h3>{{event.title}}</h3>
        <p>{{event.description}}</p>
        <div>
            <span>{{event.start_date}}</span><span>{{event.end_date}}</span>
        </div>
        {% endfor %} {% endblock content %}
    </body>
</html>
