{% extends "base.html" %} 
{% load static %}
<style>
    .fields {
        margin: 1rem;
    }
</style>
<link rel="stylesheet" href=" {% static 'user/css/style.css' %}" />

{% block title %}
  LOGIN | CEF
{% endblock title %}

{% block content %}
  

<div class="container">
    <form method="POST" novalidate>
        <div>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% csrf_token %}
        <h2>Login</h2>
        <div class="fields">
            <label for="Username">Username</label>
            <br />
            <input
                required
                type="text"
                name="username"
                id=""
                placeholder="Your name..."
            />

            <label for="password">Password</label>
            <br />
            <input
                required
                type="password"
                name="password"
                id=""
                placeholder="Password..."
            />
        </div>

        <input type="submit" value="Login" />
        <p>
            Forgot password
            <a href="{% url 'password_reset' %}">Reset</a>.
        </p>
        <p>
            I don't have an account.
            <a href="{% url 'register' %}">Sign up</a>
        </p>
    </form>
</div>
{% endblock content %}